*{
	margin: 0;
	padding: 0;
}

.top-black-strip{

	height: 10px;
	background-color: #000;
    
    
}

.main-header{
    
    background: -webkit-radial-gradient(top, #F6F2EC, #F9F7F5);
	background: radial-gradient(top, #F6F2EC, #F9F7F5);
	height: 100px;
	font-family: 'Helvetica Neue';
    margin-top: 3px;


}

 .heading{
    float: left;
 	padding-left: 200px;
 	font-size: 200%;
 	font-weight: 900;
    padding-top: 30px;

 }
nav{
	float: right;
	padding-right: 200px;
	padding-top: 30px;
}

li{
	list-style-type: none;
	display: inline;
	padding-right: 20px;
	font-size: 130%;
	font-weight: 900;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
   
   text-decoration: underline;
   color: #6C6C6C;
}
.main-content{
	padding: 50px 200px;
	height: 300px;
	border-bottom: 2px solid #EFEFEF;

}

.content{
	float: left;
	width: 45%;
	color: #6C6C6C;
    font-family: 'Helvetica Neue';
}
.intro{
	font-size: 165%;
	line-height: 150%;
	font-weight: 500;
}
.slider{
	float: right;
	width: 40%;
	padding-right:100px;
}
.button{
	float: right;
	margin-right: 45px;
	margin-top: 20px;
	width: 200px;
	height: 50px;
	background: -webkit-radial-gradient(top, #FEFEFE, #E9E9E9);
	background: radial-gradient(top, #FEFEFE, #E9E9E9);
	border-radius: 10px;
	box-shadow: #EEE;
}
.button-text{
	color: #414141;
	font-size:200%;
}
.img-1,.img-2,
.img-3,.img-4{
	position: absolute;
}
.img-1{
	z-index: 0;
	opacity: 1;
	
}
.img-2,.img-3,.img-4{
	z-index: 1;
	opacity: 1;

	}
/*.slider{
	-webkit-animation:slider 20s infinte;
	        animation:slider 20s infinte;
}